@font-face {
  font-family: FuturaLight;
  src: url(../font/FuturaPTLight.otf);
}
@font-face {
  font-family: FuturaBold;
  src: url(../font/FuturaPTBold.otf);
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: FuturaLight, sans-serif;
  color: black;
  background-color: #ffffff;
}

p {
  color: #666;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.description-1 {
  font-size: 1.7rem;
  color: #666;
}

.line-border {
  border-color: #c9a16e;
  border-style: solid none none none;
  border-width: 0.1rem;
}

.icons-container {
  margin: 0;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
}
.icons-container svg {
  margin: 3rem;
}

.header-container {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}

h1 {
  position: relative;
  padding: 0.5rem 5rem 0 0;
  margin-left: 4.5rem;
  z-index: 999;
  width: 20rem;
}

.row1-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5rem 0 2rem;
  flex-wrap: nowrap;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
}
.row1-header .row1-header-left {
  display: flex;
  position: relative;
}

svg.header-logo {
  width: 18rem;
  padding: 0.2rem 6rem 0 1rem;
}

.icon {
  padding: 1rem 0.5rem;
}

.row1-header-right svg:hover,
.icons-container svg:hover {
  fill: #c9a16e;
}

.scroll-menu {
  border-top: 1px solid #dcdcdc;
  overflow: auto;
  white-space: nowrap;
  background-color: #ffffff;
}

.scroll-menu ul {
  display: flex;
}
.scroll-menu ul li {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.3rem;
  color: #666;
}

.container {
  padding: 2.5rem 2rem;
}

.today {
  text-align: center;
  width: 100%;
  padding: 9rem 0 2.5rem 0;
  position: relative;
}

.headline-image img {
  position: relative;
  width: 100%;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.today-text {
  padding-top: 4rem;
}
.today-text h2 {
  font-family: FuturaBold;
  font-size: 2.4rem;
}
.today-text p {
  font-size: 1.4rem;
}

.headline-container {
  position: relative;
}

.play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recent-uploads {
  padding-left: 0;
  padding-right: 0;
}

.recent-uploads-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 20px;
}
.recent-uploads-card p {
  font-size: 1.3rem;
  padding: 0.6rem;
}
.recent-uploads-card p:nth-child(3) {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  overflow: auto;
  padding: 0 0 3rem 12rem;
}

.no-direct-flight-content-container,
.around-the-world-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-card img {
  width: 100%;
}

.subscribe-to-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-to-newsletter .subscribe-title {
  text-align: center;
  width: 100%;
}
.subscribe-to-newsletter p {
  padding: 0;
}
.subscribe-to-newsletter input {
  width: 100%;
  padding: 10px;
  color: black;
  margin: 15px;
  border-width: 2px;
}
.subscribe-to-newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem;
}
.subscribe-to-newsletter h3 {
  padding-bottom: 0.8rem;
}

.switches {
  display: flex;
  padding: 0.9rem 0;
}
.switches .description-1 {
  padding: 0;
  padding-left: 2rem;
}

.most-watched {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.most-watched h3 {
  padding-bottom: 2rem;
}

.most-watched-content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 0;
  max-width: 37rem;
}
.most-watched-content-card img {
  max-width: 100%;
}

.share-the-love {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.share-the-love-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-detail {
  display: none;
}

.community {
  margin: 0 9rem;
}

.community div {
  padding: 2rem 4rem 7rem;
}

.become-a-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.join {
  font-size: 2rem;
}

.small {
  font-size: 1.2rem;
}
.small .sign-in a {
  color: #c9a16e;
}

.connect {
  text-align: center;
}
.connect .icons-container {
  margin-bottom: 4rem;
}

.more-to-love-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-to-love-content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20rem;
  margin-bottom: 5rem;
}
.more-to-love-content-card img {
  width: 20rem;
}

h4.more {
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1.9rem;
  margin: 0;
  color: #666;
}

footer p,
li {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.links-end ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 60px;
  list-style: none;
}
.links-end ul li:hover {
  color: #c9a16e;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}
.copyright p {
  justify-items: center;
  text-align: center;
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 2.5rem;
    padding-bottom: 4.5rem;
  }
  .container:not(.today) {
    padding: 4.5rem 2.5rem;
  }
  .headline-image img {
    height: 35rem;
  }
  .today-text {
    position: absolute;
    bottom: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ffffff;
    padding: 4rem 12rem 0;
    text-shadow: 1px 1px 2px #000;
  }
  .today-text p {
    color: #ffffff;
  }
  .play-circle img {
    height: 5rem;
  }
  .no-direct-flight-content-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .no-direct-flight-content-container img {
    max-width: 100%;
  }
  .community {
    margin: 0 10rem;
  }
  .more-to-love-content {
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
  }
  .more-to-love-content-card {
    width: 33.3%;
  }
  .more-to-love-content-card img {
    width: auto;
    max-width: 100%;
  }
  .social-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }
  .social-detail p:nth-child(1) {
    font-size: 2.1rem;
  }
  .social-detail * {
    margin-bottom: 1rem;
  }
  .social-detail .description-1 {
    text-align: center;
  }
  .share-the-love-content {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
  }
  .social {
    flex-basis: 30rem;
  }
  .share-the-love-right,
.share-the-love-left {
    display: flex;
  }
  .share-the-love-card .button {
    display: none;
  }
  .social-banner .icons-container {
    grid-template-columns: repeat(8, auto);
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .around-the-world-content-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
}
@media screen and (min-width: 800px) {
  .headline-image img {
    height: 55rem;
  }
  .play-circle {
    top: 35rem;
  }
  .today-text h2 {
    font-size: 4rem;
  }
  .today-text p {
    font-size: 1.8rem;
  }
  .row1-header {
    justify-content: space-between;
    padding: 0 4rem 0 3rem;
    height: 8.5rem;
  }
  h1 {
    font-size: 0;
    padding: 0;
    margin: 0 auto;
  }
  svg.header-logo {
    width: 34rem;
    padding: 0;
  }
  .row1-header-left {
    width: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .row1-header-right {
    display: flex;
    justify-content: space-evenly;
  }
  .icon {
    margin: 1.5rem;
  }
  .scroll-menu ul {
    justify-content: center;
  }
  .subscribe-to-newsletter form {
    margin: 0 15rem;
  }
  .most-watched {
    flex-direction: row;
    justify-content: center;
  }
  .most-watched-card {
    padding: 0 3rem;
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .container1 {
    border-right: 0.1rem solid #c9a16e;
  }
  .most-watched-content-card {
    max-width: 37rem;
    margin: 0 3rem;
  }
  .connect .icons-container {
    margin: 0 auto;
    max-width: 50rem;
  }
  .connect svg {
    margin: 3rem;
  }
  .community {
    margin: 0 15rem;
  }
}
@media screen and (min-width: 1024px) {
  .around-the-world-content-container {
    flex-direction: row;
    gap: 2rem;
  }
  .around-the-world-top,
.around-the-world-bottom {
    display: flex;
    gap: 2rem;
  }
  .become-a-member {
    border-right: 0.1rem solid #000;
  }
  .community {
    display: flex;
    margin: 0;
    padding: 4rem;
  }
  .community div {
    width: 50%;
  }
  .connect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .connect .icons-container {
    padding: 0;
    margin: 0;
    width: 95%;
  }
  .more-to-love-content-card {
    flex-direction: row;
  }
  .more-to-love-content-card img {
    width: 150px;
    height: 150px;
    margin-right: 3rem;
  }
  .more-to-love-content-card h3 {
    padding-top: 0;
  }
  .links-end {
    margin: 0 2rem;
    padding: 0 2rem;
  }
  .links-end ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 5rem 0;
  }
  .links-end ul li {
    padding: 1rem;
    font-size: 1.4rem;
  }
  .copyright {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-bottom: 2rem;
  }
  .copyright p {
    font-size: 1.4rem;
  }
  .share-the-love-content {
    flex-direction: row;
    width: 100%;
  }
  .share-the-love-left,
.share-the-love-right {
    width: 50%;
  }
}/*# sourceMappingURL=styles.css.map */