// colours
$gold: #c9a16e;
$lightgrey: #ffffff;
$mediumgrey: #dcdcdc;
$darkgrey: #ffffff;
$grey: #f8f8f8;
$greyfont: #666;

// font
@font-face {
  font-family: FuturaLight;
  src: url(../font/FuturaPTLight.otf);
}
@font-face {
  font-family: FuturaBold;
  src: url(../font/FuturaPTBold.otf);
}

// resets
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: FuturaLight, sans-serif;
  color: black;
  background-color: $lightgrey;
}
p {
  color: $greyfont;
}
// mixins
@mixin card-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  object-fit: cover;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
  letter-spacing: 0.3rem;
}
h4 {
  font-size: 2rem;
  margin: 1.5rem 0;
}
.description-1 {
  font-size: 1.7rem;
  color: $greyfont;
}

.line-border {
  border-color: $gold;
  border-style: solid none none none;
  border-width: 0.1rem;
}
.icons-container {
  margin: 0;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  justify-content: space-between;
  svg {
    margin: 2rem;
  }
}

//header
.header-container {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.row1-header {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  justify-content: space-between;
  padding: 0.5rem 0.1rem 0 1rem;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
}
h1 {
  position: relative;
  z-index: 999;
  width: 20rem;
}
svg.header-logo {
  width: 18rem;
  padding: 0.2rem 6rem 0 1rem;
}
.icon {
  padding: 1rem 0.5rem;
}

.row1-header-right svg:hover,
.icons-container svg:hover {
  fill: $gold;
  cursor: pointer;
}
.row1-header-right {
  display: flex;
  justify-content: center;
}
.scroll-menu {
  border-top: 1px solid $mediumgrey;
  overflow: auto;
  white-space: nowrap;
  background-color: #ffffff;
  margin-top: 4.1rem;
  margin-bottom: 0.5rem;
}

.scroll-menu ul {
  display: flex;

  li {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.3rem;
    color: $greyfont;
    &:hover {
      color: $gold;
      cursor: pointer;
    }
  }
}

// container
.container {
  padding: 2.5rem 2rem;
}

// today
.today {
  text-align: center;
  width: 100%;
  padding: 9rem 0 2.5rem 0;
  position: relative;
}
.headline-image {
  img {
    position: relative;
    width: 100%;
    height: 22rem;
    object-fit: cover;
  }
}
.today-text {
  padding-top: 4rem;
  h2 {
    font-family: FuturaBold;
    font-size: 2.4rem;
  }
  p {
    font-size: 1.4rem;
  }
}
.headline-container {
  position: relative;
}

// play button overlay
.play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// recent uploads
.recent-uploads {
  padding-left: 0;
  padding-right: 0;
}

.recent-uploads-card {
  @include flex-column-center;
  text-align: center;
  padding-right: 20px;
  p {
    font-size: 1.3rem;
    padding: 0.6rem;
  }
  p:nth-child(3) {
    font-size: 1.5rem;
  }
}

.card-container {
  display: flex;
  overflow: auto;
  padding: 0 0 3rem 12rem;
}

// no-direct-flight & around the world
.no-direct-flight-content-container,
.around-the-world-content-container {
  @include flex-column-center;
}
.no-direct-flight-content-container {
  align-items: flex-start;
}

.content-card {
  @include card-layout;
  img {
    width: 100%;
  }
}

// subscribe-to-newsletter
.subscribe-to-newsletter {
  @include flex-column-center;
  .subscribe-title {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  p {
    padding: 0;
  }
  input {
    width: 100%;
    padding: 10px;
    color: black;
    margin: 15px;
    border-width: 2px;
  }
  form {
    @include flex-column-center;
    max-width: 42.5rem;
  }
  h3 {
    padding-bottom: 0.8rem;
  }
}
.switches {
  display: flex;
  padding: 0.9rem 0;
  .description-1 {
    padding: 0;
    padding-left: 2rem;
  }
}

// most-watched
.most-watched {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    padding-bottom: 2rem;
  }
}

.most-watched-content-card {
  @include card-layout;
  text-align: center;
  align-items: center;
  // margin-top: 2.5rem;
  // margin-bottom: 0;
  margin: 2.5rem auto;
  max-width: 37rem;
  img {
    max-width: 100%;
  }
}
//share-the-love
.share-the-love {
  @include flex-column-center;
  padding-bottom: 0;
}
.share-the-love-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-detail {
  display: none;
}
// community
.community {
  margin: 0 2rem;
}
.community div:not(.icons-container) {
  padding: 2rem 1.5rem 7rem;
}
.join {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

// become-a-member
.become-a-member {
  @include flex-column-center;
  text-align: center;
}

.small {
  font-size: 1.2rem;
  .sign-in a {
    color: $gold;
  }
}
// connect
.connect {
  display: flex;
  flex-direction: column;
  align-items: center; // text-align: center;
  .icons-container {
    margin-bottom: 4rem;
    width: 100%;
    padding: 0;
  }
}
// more to love
.more-to-love-content {
  @include flex-column-center;
}

.more-to-love-content-card {
  @include card-layout;
  width: 20rem;
  margin-bottom: 5rem;
  img {
    width: 20rem;
  }
}
h4.more {
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1.9rem;
  margin: 0;
  color: $greyfont;
}

// footer

footer p,
li {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.links-end ul {
  @include flex-column-center;
  margin: 20px 0 60px;
  list-style: none;
  li:hover {
    color: $gold;
  }
}
.copyright {
  @include flex-column-center;
  margin-bottom: 6rem;
  p {
    justify-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 2.5rem;
    padding-bottom: 4.5rem;
  }
  .container:not(.today) {
    padding: 4.5rem 2.5rem;
  }
  .headline-image {
    img {
      height: 35rem;
    }
  }

  .today-text {
    position: absolute;
    bottom: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ffffff;
    padding: 4rem 3.8rem 0;
    text-shadow: 1px 1px 2px #000;
    p {
      color: #ffffff;
    }
  }

  // play button overlay
  .play-circle img {
    height: 5rem;
  }

  // no-direct-flight
  .no-direct-flight-content-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    img {
      max-width: 100%;
    }
  }

  // community
  .community {
    margin: 0 10rem;
  }

  .community div:not(.icons-container) {
    padding: 2rem 4rem 7rem;
  }

  .join {
    font-size: 2rem;
  }

  // more to love
  .more-to-love-content {
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
  }
  .more-to-love-content-card {
    width: 33.3%;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  // share the love
  .social-detail {
    @include flex-column-center;
    padding: 4rem;
    p:nth-child(1) {
      font-size: 2.1rem;
    }
    * {
      margin-bottom: 1rem;
    }
    .description-1 {
      text-align: center;
    }
  }
  .share-the-love-content {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
  }
  .social {
    flex-basis: 30rem;
  }
  .share-the-love-right,
  .share-the-love-left {
    display: flex;
  }
  .share-the-love-card .button {
    display: none;
  }
  .social-banner {
    .icons-container {
      grid-template-columns: repeat(8, auto);
      justify-content: center;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  // around-the-world
  .around-the-world-content-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .headline-image {
    img {
      height: 55rem;
    }
  }
  .play-circle {
    top: 35rem;
  }
  .today-text {
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.8rem;
    }
  }

  .row1-header {
    justify-content: space-between;
    padding: 0 4rem 0 3rem;
    height: 8.5rem;
  }
  h1 {
    margin: 0 auto;
  }
  svg.header-logo {
    width: 34rem;
    padding-right: 2rem;
  }
  .row1-header-left {
    width: 1.5rem;
    display: flex;
    align-items: center;
  }

  .icon {
    margin: 1.5rem;
  }
  .scroll-menu {
    margin-top: 8.5rem;
  }

  .scroll-menu ul {
    justify-content: center;
  }
  .subscribe-to-newsletter form {
    margin: 0 15rem;
  }
  .most-watched {
    flex-direction: row;
    justify-content: center;
  }

  .most-watched-card {
    padding: 0 3rem;
    display: flex;
    width: 50%;
    justify-content: center;
  }

  .container1 {
    border-right: 0.1rem solid $gold;
  }
  .most-watched-content-card {
    max-width: 37rem;
    margin: 0 3rem;
  }

  .connect {
    .icons-container {
      margin: 0 auto;
      max-width: 50rem;
    }
    svg {
      margin: 3rem;
    }
  }
  // community
  .community {
    margin: 0 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .around-the-world-content-container {
    flex-direction: row;
    gap: 2rem;
  }
  .around-the-world-top,
  .around-the-world-bottom {
    display: flex;
    gap: 2rem;
  }

  .become-a-member {
    border-right: 0.1rem solid #000;
  }

  .community {
    display: flex;
    margin: 0;
    padding: 4rem;
  }
  .community div {
    width: 50%;
  }
  .connect {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons-container {
      padding: 0;
      margin: 0;
      width: 95%;
    }
  }
  // more-to-love
  .more-to-love-content-card {
    flex-direction: row;
    img {
      width: 150px;
      height: 150px;
      margin-right: 3rem;
    }
    h3 {
      padding-top: 0;
    }
  }

  .links-end {
    margin: 0 2rem;
    padding: 0 2rem;
    ul {
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 5rem 0;
      li {
        padding: 1rem;
        font-size: 1.4rem;
      }
    }
  }
  .copyright {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-bottom: 2rem;
    p {
      font-size: 1.4rem;
    }
  }
  // share-the-love
  .share-the-love-content {
    flex-direction: row;
    width: 100%;
  }
  .share-the-love-left,
  .share-the-love-right {
    width: 50%;
  }
}
