html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: nunito, sans-serif;
  color: black;
  background-color: #ffffff;
}

h3 {
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.description-1 {
  font-size: 1.7rem;
  font-weight: 200;
}

.line-border {
  border-color: #c9a16e;
  border-style: solid none none none;
  border-width: 0.1rem;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}

.row1-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: nowrap;
  margin-right: 4.5rem;
}
.row1-header .row1-header-left {
  display: flex;
}

svg.header-logo {
  width: 18rem;
  padding: 0 6rem 0 1.5rem;
}

.icon {
  padding: 0.5rem;
}

.row1-header-right svg:hover,
.icons-container svg:hover {
  fill: #c9a16e;
}

.scroll-menu {
  border-top: 1px solid #dcdcdc;
  overflow: auto;
  white-space: nowrap;
}

.scroll-menu ul {
  display: flex;
}
.scroll-menu ul li {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.2rem;
}

.overlay-menu {
  position: absolute;
  top: 50;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in;
}

#hamburger-input:checked ~ .overlay-menu {
  transform: translateY(5.5%);
}

.overlay-menu ul li {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 10px 15px;
}

.overlay-menu ul li:hover {
  background-color: white;
  color: black;
  border-left: 2px solid #c9a16e;
}

.overlay-menu .icons-container,
.connect .icons-container,
.social-banner .icons-container {
  margin: 5px 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  margin: 3rem 6rem;
}
.overlay-menu .icons-container svg,
.connect .icons-container svg,
.social-banner .icons-container svg {
  margin-bottom: 6rem;
}

.overlay-menu .icons-container svg {
  padding: 10px 25px;
  width: 18px;
}

nav ul ul {
  display: none;
}

.container {
  padding: 2.5rem 2rem;
}

.today {
  text-align: center;
  width: 100%;
  padding: 10.8rem 0 2.5rem 0;
}

.headline-image img {
  position: relative;
  width: 100%;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.today-text {
  padding-top: 4rem;
}
.today-text h2 {
  font-size: 2.4rem;
}
.today-text p {
  font-size: 1.4rem;
  font-weight: 200;
}

.headline-container {
  position: relative;
}

.play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recent-uploads {
  padding-left: 0;
  padding-right: 0;
}

.recent-uploads-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 20px;
}
.recent-uploads-card p {
  font-size: 1.3rem;
  font-weight: 200;
  padding: 0.6rem;
}
.recent-uploads-card p:nth-child(3) {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  overflow: auto;
  padding: 3rem 0 3rem 12rem;
}

.no-direct-flight-content-container,
.around-the-world-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-card img {
  width: 100%;
}

.subscribe-to-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-to-newsletter .subscribe-title {
  text-align: center;
  width: 100%;
}
.subscribe-to-newsletter p {
  padding: 0;
}
.subscribe-to-newsletter input {
  width: 100%;
  padding: 10px;
  color: black;
  margin: 15px;
  border-width: 2px;
}
.subscribe-to-newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem;
}
.subscribe-to-newsletter h3 {
  padding-bottom: 0.8rem;
}

.switches {
  display: flex;
  padding: 0.9rem 0;
}
.switches .description-1 {
  padding: 0;
  padding-left: 2rem;
}

.slider {
  z-index: -1;
}

.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #aeaeae;
  --color-green: #c9a16e;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type=checkbox]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type=checkbox]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type=checkbox] {
  display: none;
}

.switch input[type=checkbox]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type=checkbox]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.button,
.button1 {
  background-color: #ffffff;
  font-weight: 200;
  font-family: nunito;
  border-width: 1px;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  margin: 2rem;
  height: 4.1rem;
}
.button:hover,
.button1:hover {
  color: #c9a16e;
  box-shadow: 0px -1px #c9a16e inset;
}

.most-watched {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.most-watched h3 {
  padding-bottom: 2rem;
}

.most-watched-content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 0;
}
.most-watched-content-card img {
  max-width: 100%;
}

.share-the-love {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.share-the-love-card {
  display: flex;
  flex-direction: column;
}

.social-detail {
  display: none;
}

.become-a-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem 7rem 2rem;
}

.join {
  font-size: 1.6rem;
  font-weight: 200;
}

.small {
  font-size: 1.2rem;
  font-weight: 200;
}
.small .sign-in a {
  color: #c9a16e;
}

.connect {
  text-align: center;
}

.more-to-love-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-to-love-content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  margin-bottom: 5rem;
}
.more-to-love-content-card img {
  width: 200px;
}

h3.more {
  padding: 10px 0px 5px;
}

.social-banner .icons-container {
  margin: 0;
  padding: 0 3rem;
}
.social-banner .icons-container svg {
  margin: 3rem;
}

footer p,
li {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.links-end ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 60px;
  list-style: none;
  font-weight: 200;
}
.links-end ul li:hover {
  color: #c9a16e;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}
.copyright p {
  justify-items: center;
  text-align: center;
  font-weight: 200;
}/*# sourceMappingURL=styles.css.map */