// colours
$gold: #c9a16e;
$lightgrey: #ffffff;
$mediumgrey: #dcdcdc;
$darkgrey: #ffffff;
$grey: #f8f8f8;
$font-light: 200;
$font-regular: 700;
$font-bold: 900;

// resets
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: nunito, sans-serif;
  color: black;
  background-color: $lightgrey;
}
// mixins
@mixin card-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  object-fit: cover;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
  font-weight: $font-light;
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
}
h4 {
  font-size: 2rem;
  margin: 1.5rem 0;
}
.description-1 {
  font-size: 1.7rem;
  font-weight: $font-light;
}
.line-border {
  border-color: $gold;
  border-style: solid none none none;
  border-width: 0.1rem;
}

//header
.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}
.row1-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: nowrap;
  margin-right: 4.5rem;
  .row1-header-left {
    display: flex;
  }
}
svg.header-logo {
  width: 18rem;
  padding: 0 6rem 0 1.5rem;
}
.icon {
  padding: 0.5rem;
}

.row1-header-right svg:hover,
.icons-container svg:hover {
  fill: $gold;
}

.scroll-menu {
  border-top: 1px solid $mediumgrey;
  overflow: auto;
  white-space: nowrap;
}

.scroll-menu ul {
  display: flex;

  li {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.2rem;
  }
}

// drop-down menu - TO FIX
.overlay-menu {
  position: absolute;
  top: 50;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  overflow: hidden;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in;
}
#hamburger-input:checked ~ .overlay-menu {
  transform: translateY(5.5%);
}

.overlay-menu ul li {
  font-weight: $font-regular;
  font-size: 1.4rem;
  padding: 10px 15px;
}
// .border {
//   border-top: 1px solid $mediumgrey;
// }

.overlay-menu ul li:hover {
  background-color: white;
  color: black;
  border-left: 2px solid $gold;
}
.overlay-menu .icons-container,
.connect .icons-container,
.social-banner .icons-container {
  margin: 5px 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  margin: 3rem 6rem;
  svg {
    margin-bottom: 6rem;
  }
}

.overlay-menu .icons-container svg {
  padding: 10px 25px;
  width: 18px;
}

// overlay sites sub-menu
nav ul ul {
  display: none;
}

// container
.container {
  padding: 2.5rem 2rem;
}

// today
.today {
  text-align: center;
  width: 100%;
  padding: 10.8rem 0 2.5rem 0;
}
.headline-image {
  img {
    position: relative;
    width: 100%;
    height: 22rem;
    object-fit: cover;
  }
}
.today-text {
  padding-top: 4rem;
  h2 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.4rem;
    font-weight: $font-light;
  }
}
.headline-container {
  position: relative;
}

// play button overlay
.play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// recent uploads
.recent-uploads {
  padding-left: 0;
  padding-right: 0;
}

.recent-uploads-card {
  @include flex-column-center;
  text-align: center;
  padding-right: 20px;
  p {
    font-size: 1.3rem;
    font-weight: $font-light;
    padding: 0.6rem;
  }
  p:nth-child(3) {
    font-size: 1.5rem;
  }
}

.card-container {
  display: flex;
  overflow: auto;
  padding: 3rem 0 3rem 12rem;
}

// no-direct-flight & around the world
.no-direct-flight-content-container,
.around-the-world-content-container {
  @include flex-column-center;
}

.content-card {
  @include card-layout;
  img {
    width: 100%;
  }
}

// subscribe-to-newsletter
.subscribe-to-newsletter {
  @include flex-column-center;
  .subscribe-title {
    text-align: center;
    width: 100%;
  }
  p {
    padding: 0;
  }
  input {
    width: 100%;
    padding: 10px;
    color: black;
    margin: 15px;
    border-width: 2px;
  }
  form {
    @include flex-column-center;
    margin: 0 5rem;
  }
  h3 {
    padding-bottom: 0.8rem;
  }
}
.switches {
  display: flex;
  padding: 0.9rem 0;
  .description-1 {
    padding: 0;
    padding-left: 2rem;
  }
}

// toggle //
.slider {
  z-index: -1;
}
.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #aeaeae;
  --color-green: #c9a16e;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}
// toggle end//

// button

.button,
.button1 {
  background-color: $lightgrey;
  font-weight: $font-light;
  font-family: nunito;
  border-width: 1px;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  margin: 2rem;
  height: 4.1rem;
  &:hover {
    color: $gold;
    box-shadow: 0px -1px $gold inset;
  }
}

// most-watched
.most-watched {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  h3 {
    padding-bottom: 2rem;
  }
}

.most-watched-content-card {
  @include card-layout;
  text-align: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 0;
  img {
    max-width: 100%;
  }
}
//share-the-love
.share-the-love {
  @include flex-column-center;
  padding-bottom: 0;
}
.share-the-love-card {
  display: flex;
  flex-direction: column;
}
.social-detail {
  display: none;
}
// become-a-member
.become-a-member {
  @include flex-column-center;
  text-align: center;
  padding: 2rem 2rem 7rem 2rem;
}
.join {
  font-size: 1.6rem;
  font-weight: $font-light;
}
.small {
  font-size: 1.2rem;
  font-weight: $font-light;
  .sign-in a {
    color: $gold;
  }
}
// connect
.connect {
  text-align: center;
}
// more to love
.more-to-love-content {
  @include flex-column-center;
}

.more-to-love-content-card {
  @include card-layout;
  width: 200px;
  margin-bottom: 5rem;
  img {
    width: 200px;
  }
}
h3.more {
  padding: 10px 0px 5px;
}

// footer

.social-banner .icons-container {
  margin: 0;
  padding: 0 3rem;
  svg {
    margin: 3rem;
  }
}

footer p,
li {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.links-end ul {
  @include flex-column-center;
  margin: 20px 0 60px;
  list-style: none;
  font-weight: $font-light;
  li:hover {
    color: $gold;
  }
}
.copyright {
  @include flex-column-center;
  margin-bottom: 6rem;
  p {
    justify-items: center;
    text-align: center;
    font-weight: $font-light;
  }
}
