html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: nunito, sans-serif;
  color: black;
  background-color: #ffffff;
}

h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.description-1 {
  font-size: 1.7rem;
  font-weight: lighter;
}

.line-border {
  border-color: #c9a16e;
  border-style: solid none none none;
  border-width: 0.1rem;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}

.row1-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: nowrap;
  margin-right: 4.5rem;
}
.row1-header .row1-header-left {
  display: flex;
}

svg.header-logo {
  width: 18rem;
  padding: 0 6rem 0 1.5rem;
}

.icon {
  padding: 0.5rem;
}

.row1-header-right svg:hover,
.icons-container svg:hover {
  fill: #c9a16e;
}

.scroll-menu {
  border-top: 1px solid #dcdcdc;
  overflow: auto;
  white-space: nowrap;
}

.scroll-menu ul {
  display: flex;
}
.scroll-menu ul li {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.2rem;
}

.overlay-menu {
  position: absolute;
  top: 50;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in;
}

#hamburger-input:checked ~ .overlay-menu {
  transform: translateY(5.5%);
}

.overlay-menu ul li {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 10px 15px;
}

.overlay-menu ul li:hover {
  background-color: white;
  color: black;
  border-left: 2px solid #c9a16e;
}

.overlay-menu .icons-container,
.connect .icons-container {
  margin: 5px 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
}

.overlay-menu .icons-container svg {
  padding: 10px 25px;
  width: 18px;
}

.connect .icons-container svg {
  padding: 30px;
  margin: 0px 0 20px 0;
}

nav ul ul {
  display: none;
}

.container {
  padding: 2.5rem 2rem;
}

.today {
  text-align: center;
  width: 100%;
  padding: 10.8rem 0 2.5rem 0;
}

.headline-image img {
  position: relative;
  width: 100%;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.today-text {
  padding-top: 4rem;
}
.today-text h2 {
  font-size: 2.4rem;
}
.today-text p {
  font-size: 1.4rem;
  font-weight: lighter;
}

.headline-container {
  position: relative;
}

.play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recent-uploads {
  padding-left: 0;
  padding-right: 0;
}

.recent-uploads-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 20px;
}
.recent-uploads-card p {
  font-size: 1.3rem;
  font-weight: lighter;
  padding: 0.6rem;
}
.recent-uploads-card p:nth-child(3) {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  overflow: auto;
  padding: 3rem 0 3rem 12rem;
}

.no-direct-flight-content-container,
.around-the-world-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-card img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */